a {
  color: rgb(0, 133, 133);
  transition: color 0.15s;
}
a:hover {
  color: rgb(255, 165, 28);
}

#id {
  font-size: x-large;
}
#price {
  color: rgb(0, 118, 0);
}
#btn {
  border-radius: 20px;
  background-color: rgb(255, 216, 20);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.15s,
    opacity 0.15s;
}
#btn:hover {
  background-color: rgb(241, 207, 34);
}
#btn:active {
  opacity: 0.5;
}
#btn-1 {
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
  margin-left: 20px;
  background-color: rgb(255, 165, 28);
  cursor: pointer;
  transition:
    background-color 0.15s,
    opacity 0.15s;
}
#btn-1:hover {
  background-color: rgb(248, 157, 19);
}
#btn-1:active {
  opacity: 0.5;
}
