a {
  color: rgb(0, 133, 133);
}

#id {
  font-size: x-large;
}
#price {
  color: rgb(0, 118, 0);
}
#btn {
  border-radius: 20px;
  background-color: rgb(255, 216, 20);
  padding: 8px 16px;
  border: none;
}
#btn-1 {
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
  margin-left: 20px;
  background-color: rgb(255, 165, 28);
}
